{{!-- Main --}}
{{!< default}}

<main id="main" class="gh-article {{post_class}}">

  {{#page}}
      <header class="gh-header gh-canvas">
          <h1 class="gh-title">{{title}}</h1>

        {{#if custom_excerpt}}
            <p class="gh-excerpt">{{custom_excerpt}}</p>
        {{/if}}

        {{#if feature_image}}
            <img class="gh-feature-image" src="{{feature_image}}" alt="{{title}}" />
        {{/if}}
      </header>
      <div class="gh-content gh-canvas">
          <h2>{{title}}</h2>
        {{content}}
      </div>
  {{/page}}
  <h1>test 5</h1>
</main>

